/* <!-- Course: SENG 513 --> 
<!-- Date: Oct 23, 2023 --> 
<!-- Assignment 2 -->
<!-- Name: Kai Ho Chak --> 
<!-- UCID: 30147119 --> */

/* Style for the Create() */
#newList {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

#newList div {
    display: flex;
    width: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
}

.createForm {
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 10px;
    background-color: #EBEAEA;
    padding: 20px;
    border: 1px solid #000;
    overflow: auto;
}

.formTitle {
    text-align: center;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
    margin: auto;
}

.formContent input,
.formContent select {
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: 1px solid #000;
}

#memberInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: auto;
    border-radius: 10px;
    gap: 10px;
}

.formContent button {
    font-size: large;
    width: 100px;
    height: 50px;
    margin: auto;
    border-radius: 15px;
    background-color: #EBEAEA;
}