/* Ranking */
.rankContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: calc(100vh - 50px);
  margin: auto;
}

.rankTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0px;
  margin-bottom: 20px;
}

/* Ranking Board */
.rankingBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline: 20px;
  min-height: 60vh;
  width: 100%;
  gap: 20px;
}

/* Queue */
.queue-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 20px;
  margin-block: 5%;
  margin-right: auto;
}

.queue-item {
  padding-block: 10px;
  padding-inline: 10px;
  height: auto;
  width: auto;
  border: 1px solid #000;
}

.queue-input {
  padding-block: 10px;
  padding-inline: 10px;
  height: auto;
  width: auto;
  border: 1px solid #000;
}

/* Rating Data Card */
.ratingDataCard {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #000;
  border-radius: 30px;
  padding : 20px;
}

.ratingData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ratingDataName {
  padding: 20px;
  font-size: 40px;
}

.ratingDataValue {
  padding: 40px;
  font-size: 60px;
  border: 1px solid #000; 
  border-radius: 20px; 
}

.ratingTable {
  width: 90%;
  padding: 10px;
}

.ratingTable td {
  padding: 5px;
}

/* Ranking List */
.ranking {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid #000;
  border-radius: 30px;
  padding : 20px;
  margin-block: 5%;
  margin-right: auto;
}

.rankingList {
  padding-top: 25px;
  width: 90%;
}

.rankingList th, td{
  padding: 5px;
  text-align: start;
} 

/* Define the width for each column */
.rankingList th:nth-child(1),
.rankingList td:nth-child(1) {
    width: 25%; /* First column takes 20% of the table width */
}

.rankingList th:nth-child(2),
.rankingList td:nth-child(2) {
    width: 60%; /* Second column takes 40% of the table width */
}

.rankingList th:nth-child(3),
.rankingList td:nth-child(3) {
    width: 15%; /* Third column takes 30% of the table width */
}

/* memberBoard */
.memberContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

.memberBoard {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  width: 100%;
  justify-content: start;
  align-items: stretch
}

.member {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  overflow: 100%;
  border: 1px solid #000;
  border-radius: 50%;
}
